$rowHeight: 16px;
$columnWidth: 150px;

.calendarBackground {
  background-color: $bg_color3;
  width: fit-content;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  .calendarTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    .calendarTitle {
      margin: 0px;
    }
  }
}
