$rowHeight: 16px;
$columnWidth: 150px;

.calendarBackground {
  background-color: $bg_color3;
  width: fit-content;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  .calendarTitleContainer {
    margin: 10px;
    .calendarTitle {
      margin: 0px;
    }
  }
  .calendarContainer {
    padding: 10px;
    .weekdaysContainer {
      display: flex;
      flex-direction: row;
      background-color: pink;
      border-radius: 10px;

      .slotContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: relative;
        .availableHoursBlock {
          background-color: green;
          width: 100%;
          position: absolute;
          opacity: 0.6;
        }
        .lessonBlock {
          width: 98%;
          left: 1%;
          position: absolute;
          border-radius: 4px;
          border: 1px solid white;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cursor: pointer;

          .lessonBlockRow {
            display: flex;
            flex-direction: row;
            padding: 6px;
            align-items: center;
            justify-content: space-between;

            .lessonBlockTime {
              font-size: 10px;
            }
            .lessonBlockTitle {
              font-size: 10px;
            }
            .studentName {
              font-size: 10px;
            }
            .lockImage {
              width: 20px;
            }
          }
        }
        &.first {
          border: 0px solid black;
        }

        .time {
          font-size: 12px;
          height: $rowHeight;
          width: $columnWidth;
          border-style: dashed;
          border-width: 0.5px;
          border-color: black;
          text-align: center;
          &.firstQuarter {
            border-width: 0.5px 0.5px 0 0.5px;
          }
          &.secondQuarter {
            border-width: 0px 0.5px 0 0.5px;
          }
          &.thirdQuarter {
            border-width: 0px 0.5px 0 0.5px;
          }
          &.fourthQuarter {
            border-width: 0px 0.5px 0.5px 0.5px;
          }

          &.firstColumn {
            //change the dash density
            border-color: transparent;
            width: 40px;
            margin-top: -7px;
            height: $rowHeight;
            margin-bottom: 7px;
            &.secondQuarter,
            &.thirdQuarter,
            &.fourthQuarter {
              visibility: hidden;
            }
          }
          &.firstRow {
            border-color: transparent;
            height: 40px;
            width: 80px;
            font-size: 16px;
            color: black;
            &.secondQuarter,
            &.thirdQuarter,
            &.fourthQuarter {
              display: none;
            }
          }
        }
      }
    }
  }
}
