.draggingLessonBlock {
  width: 130px;
  position: fixed;
  z-index: 100;
  border-radius: 0.375rem;
  border: 1px solid $bg_color3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .topPart,
  .bottomPart {
    margin: 3px 0px;
    width: 98%;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 12px;
    }
    .draggingLessonBlockLesson {
      font-weight: bold;
    }
  }
}
