.menuHeaderContainer {
  width: 100%;
  .menuHeaderContainerClose {
    margin: 8px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    .closePopUp {
      margin-right: 20px;
      text-align: right;
      cursor: pointer;
    }
  }
  .menuHeaderTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    .menuHeaderTitle {
      font-size: 20px;
      font-weight: bold;
    }
    .menuHeaderBin {
      margin-left: 20px;
      width: 20px;
      &:hover {
        width: 21px;
      }
      cursor: pointer;
    }
  }
}

.deleteItemContainer {
  position: absolute;
  top: 50px;
  left: 200px;
  display: flex;
  cursor: default;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 500px;
  height: 200px;
  background-color: $bg_color3;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

  &.lesson-mini {
    top: -5px;
    left: -5px;
    width: 200px;
    height: 110px;
  }
  .deleteItemQuestion {
    &.lesson-mini {
      font-size: 14px;
    }
  }
  .deleteItemButtonsContainer {
    &.lesson-mini {
      zoom: 0.9;
      .buttonText {
        width: 70px;
      }
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
