.calendarBackground {
  background-color: #426f77;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.calendarBackground .calendarTitleContainer {
  margin: 10px;
}
.calendarBackground .calendarTitleContainer .calendarTitle {
  margin: 0px;
}
.calendarBackground .calendarContainer {
  padding: 10px;
}
.calendarBackground .calendarContainer .weekdaysContainer {
  display: flex;
  flex-direction: row;
  background-color: pink;
  border-radius: 10px;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .availableHoursBlock {
  background-color: green;
  width: 100%;
  position: absolute;
  opacity: 0.6;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .lessonBlock {
  width: 96%;
  left: 1%;
  position: absolute;
  border-radius: 4px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .lessonBlock .lessonBlockRow {
  display: flex;
  flex-direction: row;
  padding: 6px;
  align-items: center;
  justify-content: space-between;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .lessonBlock .lessonBlockRow .lessonBlockTime {
  font-size: 10px;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .lessonBlock .lessonBlockRow .lessonBlockTitle {
  font-size: 10px;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .lessonBlock .lessonBlockRow .studentName {
  font-size: 10px;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .lessonBlock .lessonBlockRow .lockImage {
  width: 20px;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer.first {
  border: 0px solid black;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time {
  font-size: 12px;
  height: 16px;
  width: 150px;
  border-style: dashed;
  border-width: 0.5px;
  border-color: black;
  text-align: center;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.firstQuarter {
  border-width: 0.5px 0.5px 0 0.5px;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.secondQuarter {
  border-width: 0px 0.5px 0 0.5px;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.thirdQuarter {
  border-width: 0px 0.5px 0 0.5px;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.fourthQuarter {
  border-width: 0px 0.5px 0.5px 0.5px;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.firstColumn {
  border-color: transparent;
  width: 40px;
  margin-top: -7px;
  height: 16px;
  margin-bottom: 7px;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.firstColumn.secondQuarter, .calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.firstColumn.thirdQuarter, .calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.firstColumn.fourthQuarter {
  visibility: hidden;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.firstRow {
  border-color: transparent;
  height: 40px;
  width: 80px;
  font-size: 16px;
  color: black;
}
.calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.firstRow.secondQuarter, .calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.firstRow.thirdQuarter, .calendarBackground .calendarContainer .weekdaysContainer .slotContainer .time.firstRow.fourthQuarter {
  display: none;
}

.studentsComponent {
  background-color: #426f77;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
}
.studentsComponent .studentsOverviewContainer {
  margin: 10px;
  width: 600px;
}
.studentsComponent .studentsOverviewContainer .studentsOverviewHeader {
  margin: 0px;
}
.studentsComponent .studentsOverviewContainer .studentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  height: 20px;
  padding: 3px;
  border-radius: 15px;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
.studentsComponent .studentsOverviewContainer .studentContainer:hover {
  background-color: pink;
}
.studentsComponent .studentsOverviewContainer .studentContainer .studentName,
.studentsComponent .studentsOverviewContainer .studentContainer .studentIndex,
.studentsComponent .studentsOverviewContainer .studentContainer .studentLessons {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 5px;
  color: #426f77;
}
.studentsComponent .studentsOverviewContainer .studentContainer .studentName.studentName,
.studentsComponent .studentsOverviewContainer .studentContainer .studentIndex.studentName,
.studentsComponent .studentsOverviewContainer .studentContainer .studentLessons.studentName {
  width: 450px;
}
.studentsComponent .addStudentContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.studentsComponent .addStudentContainer .addStudentButton {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #555555;
  background-color: #a7b8b3;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.studentsComponent .addStudentContainer .addStudentButton:hover {
  background-color: pink;
}
.studentsComponent .studentMenuContainer {
  position: fixed;
  background-color: #426f77;
  width: 1000px;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 500px;
  top: 20%;
  left: calc(50% - 500px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.studentsComponent .studentMenuContainer .studentMenuClose {
  margin: 8px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.studentsComponent .studentMenuContainer .studentMenuClose .closePopUp {
  margin-right: 20px;
  text-align: right;
  cursor: pointer;
}
.studentsComponent .studentMenuContainer .studentMenu {
  margin: 20px;
}
.studentsComponent .studentMenuContainer .studentMenu .studentMenuHeader {
  font-size: 20px;
  font-weight: bold;
}
.studentsComponent .studentMenuContainer .studentMenuInputs {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.studentsComponent .studentMenuContainer .studentMenuInputs .studentMenuInput {
  margin: 10px;
}
.studentsComponent .studentMenuContainer .studentMenuInputs .studentMenuInput .studentMenuInputLabel {
  cursor: default;
}
.studentsComponent .studentMenuContainer .studentMenuInputs .studentMenuInput .studentMenuInput {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #555555;
  background-color: #a7b8b3;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;
  padding-left: 20px;
}

body {
  margin: 0;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a7b8b3;
  color: #ffffff;
  cursor: default;
}
@media screen and (max-width: 500px) {
  body {
    padding: 3px;
  }
}

.loading {
  width: 100%;
  text-align: center;
  margin-top: 300px;
}

.basicPageComponent {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .basicPageComponent {
    margin-top: 135px;
  }
}
.basicPageComponent .loginInputContainer {
  background-color: #426f77;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 400px;
  height: 130px;
  border-radius: 20px;
}
.basicPageComponent .loginInputContainer .inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}
.basicPageComponent .loginInputContainer .inputContainer .loginInput {
  width: 200px;
  height: 30px;
  padding: 0px 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #555555;
}
.basicPageComponent .loginButton {
  width: 400px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #555555;
  background-color: #a7b8b3;
  color: #ffffff;
  font-size: 18px;
}
.basicPageComponent .loginButton:hover {
  cursor: pointer;
  background-color: #426f77;
}

.predictionPage {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.predictionPage .welcomeContainer {
  height: 763px;
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
  margin-left: 70px;
}
.predictionPage .welcomeContainer .welcome {
  font-size: 40px;
  font-weight: bold;
}
.predictionPage .welcomeContainer .userImageContainer {
  width: 100px;
}
.predictionPage .welcomeContainer .userImageContainer .userImg {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  -o-object-fit: cover;
     object-fit: cover;
}
.predictionPage .welcomeContainer .predictionDescription {
  text-align: center;
  width: 532px;
}
.predictionPage .welcomeContainer .teamsContainer {
  height: 330px;
  width: 532px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.predictionPage .mainPredictionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer {
  width: 600px;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .emptyStandingsTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .emptyStandingsTitleContainer .emptyStandingsTitle {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .standingsTable .standingsPositionsContainer {
  border: 2px solid #ffffff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 32px;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .standingsTable .standingsPositionsContainer .standingsPosition {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 30px;
  justify-content: center;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .standingsTable .standingsPositionsContainer .standingsPosition .standingsPositionNumber {
  margin: 3px;
  width: 30px;
  text-align: center;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .standingsTable .standingsPositionsContainer .standingEmptySpot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
}
.predictionPage .mainPredictionsContainer .submitPredictionButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 600px;
  border-radius: 10px;
  border: 1px solid #555555;
  margin-top: 10px;
  background-color: #a7b8b3;
}
.predictionPage .mainPredictionsContainer .submitPredictionButtonContainer:hover {
  cursor: pointer;
  background-color: #426f77;
}
.predictionPage .mainPredictionsContainer .submitPredictionButtonContainer .submitPredictionButton {
  color: white;
  font-size: 26px;
}
.predictionPage .mainPredictionsContainer .submitValidationMessageContainer {
  margin-top: 10px;
}
.predictionPage .teamContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  background-color: #426f77;
  height: 20px;
  padding: 3px;
  border-radius: 15px;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
.predictionPage .teamContainer:hover {
  background-color: #484848;
}
.predictionPage .teamContainer .removeTeam {
  position: absolute;
  right: 8px;
  top: -14px;
  color: white;
}
.predictionPage .teamContainer .teamName {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 5px;
  width: 200px;
  text-align: center;
}

.appPage {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.appPage .leftSide .greetingContainer {
  margin-left: 40px;
  margin-top: 12px;
  margin-bottom: -20px;
  font-size: 25px;
  font-weight: bold;
}/*# sourceMappingURL=app.css.map */