.calendarBackground {
  background-color: #426f77;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.calendarBackground .calendarTitleContainer {
  margin: 10px;
}
.calendarBackground .calendarTitleContainer .calendarTitle {
  margin: 0px;
}

.studentsComponent {
  background-color: #426f77;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
}
.studentsComponent .studentsOverviewContainer {
  margin: 10px;
  width: 600px;
}
.studentsComponent .studentsOverviewContainer .studentsOverviewHeader {
  margin: 0px;
}
.studentsComponent .studentsOverviewContainer .studentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  height: 20px;
  padding: 3px;
  border-radius: 15px;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
.studentsComponent .studentsOverviewContainer .studentContainer:hover {
  background-color: pink;
}
.studentsComponent .studentsOverviewContainer .studentContainer .studentName,
.studentsComponent .studentsOverviewContainer .studentContainer .studentIndex,
.studentsComponent .studentsOverviewContainer .studentContainer .studentLessons {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 5px;
  color: #426f77;
}
.studentsComponent .studentsOverviewContainer .studentContainer .studentName.studentName,
.studentsComponent .studentsOverviewContainer .studentContainer .studentIndex.studentName,
.studentsComponent .studentsOverviewContainer .studentContainer .studentLessons.studentName {
  width: 450px;
}
.studentsComponent .addStudentContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.studentsComponent .addStudentContainer .addStudentButton {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #555555;
  background-color: #a7b8b3;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.studentsComponent .addStudentContainer .addStudentButton:hover {
  background-color: pink;
}
.studentsComponent .studentMenuContainer {
  position: fixed;
  background-color: #426f77;
  width: 1400px;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 500px;
  top: 20%;
  left: calc(50% - 700px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.studentsComponent .studentMenuContainer .studentMenuClose {
  margin: 8px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.studentsComponent .studentMenuContainer .studentMenuClose .closePopUp {
  margin-right: 20px;
  text-align: right;
  cursor: pointer;
}
.studentsComponent .studentMenuContainer .studentMenu {
  margin: 20px;
}
.studentsComponent .studentMenuContainer .studentMenu .studentMenuHeader {
  font-size: 20px;
  font-weight: bold;
}
.studentsComponent .studentMenuContainer .studentMenuInputs {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.studentsComponent .studentMenuContainer .studentMenuInputs .studentMenuInput {
  margin: 10px;
}
.studentsComponent .studentMenuContainer .studentMenuInputs .studentMenuInput .studentMenuInputLabel {
  cursor: default;
}
.studentsComponent .studentMenuContainer .studentMenuInputs .studentMenuInput .studentMenuInput {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #555555;
  background-color: #a7b8b3;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;
  padding-left: 20px;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail {
  position: relative;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuCalendarContainer {
  position: absolute;
  top: -350px;
  left: -300px;
  background-color: #426f77;
  width: 1000px;
  height: 1000px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuCalendarContainer .studentMenuCalendarContainerClose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuCalendarContainer .studentMenuCalendarTitle {
  font-size: 18px;
  text-align: left;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuCalendarContainer .addRemoveDayAvailabilityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuCalendarContainer .addRemoveDayAvailabilityContainer .addRemoveDayAvailability {
  cursor: pointer;
  font-size: 12px;
  width: 121px;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuCalendarContainer .addRemoveDayAvailabilityContainer .addRemoveDayAvailability .addDayButton,
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuCalendarContainer .addRemoveDayAvailabilityContainer .addRemoveDayAvailability .removeDayButton,
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuCalendarContainer .addRemoveDayAvailabilityContainer .addRemoveDayAvailability .splitDayButton {
  border-radius: 3px;
  margin: 3px;
  height: 20px;
  text-align: center;
  padding: 4px 0 0 0;
  border: 1px solid #555555;
  background-color: #a7b8b3;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuCalendarContainer .addRemoveDayAvailabilityContainer .addRemoveDayAvailability .addDayButton:hover,
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuCalendarContainer .addRemoveDayAvailabilityContainer .addRemoveDayAvailability .removeDayButton:hover,
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuCalendarContainer .addRemoveDayAvailabilityContainer .addRemoveDayAvailability .splitDayButton:hover {
  background-color: pink;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuWeekdaysContainer {
  width: 150px;
  height: 65px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuWeekdaysContainer:hover {
  background-color: pink;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuWeekdaysContainer .studentMenuWeekdaysSlotContainer {
  cursor: pointer;
  width: 15px;
  height: 55px;
  margin-left: 2px;
  margin-right: 3px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 10px;
}
.studentsComponent .studentMenuAvailableScheduleThumbnail .studentMenuWeekdaysContainer .studentMenuWeekdaysSlotContainer .studentMenuWeekdayAvailableBlock {
  width: 100%;
  height: 80%;
  background-color: green;
  cursor: pointer;
}

.scheduleBlockContainer {
  position: absolute;
  left: 0;
  right: 0;
  background: green;
  background-opacity: 0.8;
  border-radius: 0.375rem;
  border: 2px solid #a7b8b3;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: background-color 150ms;
}
.scheduleBlockContainer:hover {
  background: lightgreen;
}
.scheduleBlockContainer.cursor-grab {
  cursor: grab;
}
.scheduleBlockContainer.cursor-grabbing {
  cursor: grabbing;
}
.scheduleBlockContainer.cursor-ns-resize {
  cursor: ns-resize;
}
.scheduleBlockContainer .scheduleBlockHandle {
  position: absolute;
  left: 0;
  right: 0;
  height: 0.5rem;
  background: transparent;
  cursor: ns-resize;
}
.scheduleBlockContainer .scheduleBlockHandle.top {
  top: 0;
}
.scheduleBlockContainer .scheduleBlockHandle.bottom {
  bottom: 0;
}
.scheduleBlockContainer .scheduleBlock {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  pointer-events: none;
}

.availableHoursBlock {
  background-color: green;
  width: 100%;
  position: absolute;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: move;
}
.availableHoursBlock.student {
  cursor: cursor;
}
.availableHoursBlock .availableHoursBlockHandle {
  height: 2px;
  width: 100%;
  background-color: black;
}
.availableHoursBlock .availableHoursBlockHandle.up {
  cursor: ns-resize;
}
.availableHoursBlock .availableHoursBlockHandle.down {
  cursor: ns-resize;
}

body {
  margin: 0;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a7b8b3;
  color: #ffffff;
  cursor: default;
}
@media screen and (max-width: 500px) {
  body {
    padding: 3px;
  }
}

.loading {
  width: 100%;
  text-align: center;
  margin-top: 300px;
}

.basicPageComponent {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .basicPageComponent {
    margin-top: 135px;
  }
}
.basicPageComponent .loginInputContainer {
  background-color: #426f77;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 400px;
  height: 130px;
  border-radius: 20px;
}
.basicPageComponent .loginInputContainer .inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}
.basicPageComponent .loginInputContainer .inputContainer .loginInput {
  width: 200px;
  height: 30px;
  padding: 0px 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #555555;
}
.basicPageComponent .loginButton {
  width: 400px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #555555;
  background-color: #a7b8b3;
  color: #ffffff;
  font-size: 18px;
}
.basicPageComponent .loginButton:hover {
  cursor: pointer;
  background-color: #426f77;
}

.predictionPage {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.predictionPage .welcomeContainer {
  height: 763px;
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
  margin-left: 70px;
}
.predictionPage .welcomeContainer .welcome {
  font-size: 40px;
  font-weight: bold;
}
.predictionPage .welcomeContainer .userImageContainer {
  width: 100px;
}
.predictionPage .welcomeContainer .userImageContainer .userImg {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  -o-object-fit: cover;
     object-fit: cover;
}
.predictionPage .welcomeContainer .predictionDescription {
  text-align: center;
  width: 532px;
}
.predictionPage .welcomeContainer .teamsContainer {
  height: 330px;
  width: 532px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.predictionPage .mainPredictionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer {
  width: 600px;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .emptyStandingsTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .emptyStandingsTitleContainer .emptyStandingsTitle {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .standingsTable .standingsPositionsContainer {
  border: 2px solid #ffffff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 32px;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .standingsTable .standingsPositionsContainer .standingsPosition {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 30px;
  justify-content: center;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .standingsTable .standingsPositionsContainer .standingsPosition .standingsPositionNumber {
  margin: 3px;
  width: 30px;
  text-align: center;
}
.predictionPage .mainPredictionsContainer .emptyStandingsContainer .standingsTable .standingsPositionsContainer .standingEmptySpot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
}
.predictionPage .mainPredictionsContainer .submitPredictionButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 600px;
  border-radius: 10px;
  border: 1px solid #555555;
  margin-top: 10px;
  background-color: #a7b8b3;
}
.predictionPage .mainPredictionsContainer .submitPredictionButtonContainer:hover {
  cursor: pointer;
  background-color: #426f77;
}
.predictionPage .mainPredictionsContainer .submitPredictionButtonContainer .submitPredictionButton {
  color: white;
  font-size: 26px;
}
.predictionPage .mainPredictionsContainer .submitValidationMessageContainer {
  margin-top: 10px;
}
.predictionPage .teamContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  background-color: #426f77;
  height: 20px;
  padding: 3px;
  border-radius: 15px;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
.predictionPage .teamContainer:hover {
  background-color: #484848;
}
.predictionPage .teamContainer .removeTeam {
  position: absolute;
  right: 8px;
  top: -14px;
  color: white;
}
.predictionPage .teamContainer .teamName {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 5px;
  width: 200px;
  text-align: center;
}

.appPage {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.appPage .leftSide .greetingContainer {
  margin-left: 40px;
  margin-top: 12px;
  margin-bottom: -20px;
  font-size: 25px;
  font-weight: bold;
}

.calendarContainer {
  padding: 10px;
}

.weekdaysContainer {
  display: flex;
  flex-direction: row;
  background-color: pink;
  border-radius: 10px;
}
.weekdaysContainer.student {
  zoom: 0.8;
}
.weekdaysContainer .slotContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}
.weekdaysContainer .slotContainer .lessonBlock {
  width: 96%;
  left: 1%;
  position: absolute;
  border-radius: 4px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.weekdaysContainer .slotContainer .lessonBlock .lessonBlockRow {
  display: flex;
  flex-direction: row;
  padding: 6px;
  align-items: center;
  justify-content: space-between;
}
.weekdaysContainer .slotContainer .lessonBlock .lessonBlockRow .lessonBlockTime {
  font-size: 10px;
}
.weekdaysContainer .slotContainer .lessonBlock .lessonBlockRow .lessonBlockTitle {
  font-size: 10px;
}
.weekdaysContainer .slotContainer .lessonBlock .lessonBlockRow .studentName {
  font-size: 10px;
}
.weekdaysContainer .slotContainer .lessonBlock .lessonBlockRow .lockImage {
  width: 20px;
}
.weekdaysContainer .slotContainer.first {
  border: 0px solid black;
}
.weekdaysContainer .slotContainer .time {
  color: black;
  font-size: 12px;
  height: 16px;
  width: 150px;
  border-style: dashed;
  border-width: 0.5px;
  border-color: black;
  text-align: center;
}
.weekdaysContainer .slotContainer .time.firstQuarter {
  border-width: 0.5px 0.5px 0 0.5px;
}
.weekdaysContainer .slotContainer .time.secondQuarter {
  border-width: 0px 0.5px 0 0.5px;
}
.weekdaysContainer .slotContainer .time.thirdQuarter {
  border-width: 0px 0.5px 0 0.5px;
}
.weekdaysContainer .slotContainer .time.fourthQuarter {
  border-width: 0px 0.5px 0.5px 0.5px;
}
.weekdaysContainer .slotContainer .time.firstColumn {
  border-color: transparent;
  width: 40px;
  margin-top: -7px;
  height: 16px;
  margin-bottom: 7px;
}
.weekdaysContainer .slotContainer .time.firstColumn.secondQuarter, .weekdaysContainer .slotContainer .time.firstColumn.thirdQuarter, .weekdaysContainer .slotContainer .time.firstColumn.fourthQuarter {
  visibility: hidden;
}
.weekdaysContainer .slotContainer .time.firstRow {
  border-color: transparent;
  height: 40px;
  width: 80px;
  font-size: 16px;
  color: black;
}
.weekdaysContainer .slotContainer .time.firstRow.secondQuarter, .weekdaysContainer .slotContainer .time.firstRow.thirdQuarter, .weekdaysContainer .slotContainer .time.firstRow.fourthQuarter {
  display: none;
}/*# sourceMappingURL=app.css.map */